<div class="signup-component h-100">
    <div class="row justify-content-sm-center align-items-center">
      <div class="col col-sm-6">
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="inputName">Name</label>
            <input type="email" class="form-control" id="inputName" formControlName="name" placeholder="Your name">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="passwordConfirmation">Confirm your password</label>
            <input type="password" class="form-control" id="passwordConfirmation" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary float-right">Submit</button>
        </form>

      </div>
    </div>
  </div>
