<div class="home-component">
  <div class="row justify-content-xs-center">
    <div class="col-sm-9">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link">Your Feed</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Global Feed</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-3">
      <div class="card bg-light">
        <div class="card-header">Trending</div>
        <div class="card-body">
            <span class="badge badge-pill badge-primary">Primary</span>
            <span class="badge badge-pill badge-secondary">Secondary</span>
            <span class="badge badge-pill badge-success">Success</span>
            <span class="badge badge-pill badge-danger">Danger</span>
            <span class="badge badge-pill badge-warning">Warning</span>
            <span class="badge badge-pill badge-info">Info</span>
            <span class="badge badge-pill badge-light">Light</span>
            <span class="badge badge-pill badge-dark">Dark</span>
        </div>
      </div>
    </div>

  </div>

</div>
