<div class="home-component">
  <div class="row justify-content-xs-center">
    <div class="col-sm-9">
      <ngb-tabset>
        <ngb-tab title="Your Feed">
           <ng-template ngbTabContent>
             <div *ngFor="let post of myFeed">
               <app-post [article]="post"></app-post>  
             </div>
           </ng-template>
        </ngb-tab>
        <ngb-tab title="Global Feed">
             <ng-template ngbTabContent>
             <div *ngFor="let post of globalFeed">
               <app-post [article]="post"></app-post>  
             </div>
           </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
    <div class="col-sm-3">
      <div class="card bg-light">
        <div class="card-header">Trending</div>
        <div class="card-body">
            <span *ngFor="let tag of tags" class="badge badge-pill badge-primary m-1">{{tag.name}}</span>
        </div>
      </div>
    </div>

  </div>

</div>
