<div class="login-component h-100">
  <div class="row justify-content-sm-center align-items-center">
    <div class="col col-sm-6">
      <h1>Settings</h1>
      <form>
        <div class="form-group">
          <label for="inputUsername">Username</label>
          <input type="text" class="form-control" id="inputUsername" placeholder="Username">
        </div>
        <div class="form-group">
          <label for="textareaBio">Short Bio</label>
          <textarea class="form-control" id="textareaBio" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="inputEmail">Email</label>
          <input type="text" class="form-control" id="inputEmail" placeholder="john@doe.com">
        </div>
        <div class="form-group">
          <label for="inputPassword">New Password</label>
          <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </div>
  </div>
</div>
